.select {
    margin-left: 10px;
    height: 30px;
    border-radius: 3px;
    font-size: 1.1rem;
    background-color: rgba(207, 207, 207, 0.5);
    color: white;
    border: none;
}

.select option {
    background-color: rgb(112, 112, 112);
    height: 20px;
}