.ul {
    overflow: hidden;
    padding: 15px;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    max-width: 55%;
    height: 100%;
    gap: 10px;
}  

@media screen and (max-width: 850px) {
    .ul {
        max-width: 95%;
    }
}

.view {
    overflow: hidden;
    padding: 15px;
    margin: 0 0 0 5px;
    list-style: none;
    display: grid;
    place-items: center;
    max-width: 800px;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

@media screen and (max-width: 1319px) {
    .view {
        max-width: 95%;
    }
}

.li {
    margin: 0;
    padding: 0;
    height: 160px;
    max-height: 160px;
    box-shadow: 0 0 20px 10px #0003;
    -webkit-box-shadow: 0 0 20px 10px #0003;
    -moz-box-shadow: 0 0 20px 10px #0003;
}

.li figure {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.li figure img {
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
    margin: 0;
    padding: 0;
    max-width: 110px;
    max-height: 160px;
    min-width: 110px;
    cursor: pointer;
    border-radius: 3px;
    object-fit: cover;
}

.li figure img:hover {
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
    scale: 1.3;
}




