html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.9em;
}

::-webkit-scrollbar-track {
  background: rgb(15, 7, 7); 
}

::-webkit-scrollbar-thumb {
  border: .20em solid rgb(15, 7, 7);
  background: rgb(255, 255, 255);
  border-radius: 15px ;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(144, 144, 144);
}